In [1]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv('TMDB_movie_dataset_v11.csv')

In [3]:
movies.head(3)

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_language,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,en,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili"
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,en,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin"

In [4]:
movies = movies[['id','title','release_date','original_language','overview','poster_path','production_companies','genres']]

In [5]:
movies.head(1)

,id,title,release_date,original_language,overview,poster_path,production_companies,genres
0,27205,Inception,2010-07-15,en,"Cobb, a skilled thief who commits corporate es...",/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,"Legendary Pictures, Syncopy, Warner Bros. Pict...","Action, Science Fiction, Adventure"

In [6]:
movies.isnull().sum()

id                           0
title                       12
release_date            105504
original_language            0
overview                176038
poster_path             265321
production_companies    511442
genres                  357286
dtype: int64

In [7]:
movies.dropna(inplace=True)

In [8]:
movies.drop(['original_language'],axis=1,inplace=True)

In [9]:
path = movies[['id','poster_path']]

In [10]:
movies.drop(['poster_path'],axis=1,inplace=True)

In [11]:
movies['production_companies'] = movies['production_companies'].apply(lambda x:x.split(','))

In [12]:
movies['genres'] = movies['genres'].apply(lambda x:x.split(','))

In [13]:
movies['release_date'] = movies['release_date'].apply(lambda x:x.split('-'))

In [14]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [15]:
movies.head()

,id,title,release_date,overview,production_companies,genres
0,27205,Inception,"[2010, 07, 15]","[Cobb,, a, skilled, thief, who, commits, corpo...","[Legendary Pictures, Syncopy, Warner Bros. P...","[Action, Science Fiction, Adventure]"
1,157336,Interstellar,"[2014, 11, 05]","[The, adventures, of, a, group, of, explorers,...","[Legendary Pictures, Syncopy, Lynda Obst Pro...","[Adventure, Drama, Science Fiction]"
2,155,The Dark Knight,"[2008, 07, 16]","[Batman, raises, the, stakes, in, his, war, on...","[DC Comics, Legendary Pictures, Syncopy, Is...","[Drama, Action, Crime, Thriller]"
3,19995,Avatar,"[2009, 12, 15]","[In, the, 22nd, century,, a, paraplegic, Marin...","[Dune Entertainment, Lightstorm Entertainment...","[Action, Adventure, Fantasy, Science Fiction]"
4,24428,The Avengers,"[2012, 04, 25]","[When, an, unexpected, enemy, emerges, and, th...",[Marvel Studios],"[Science Fiction, Action, Adventure]"

In [16]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","")for i in x])
movies['production_companies'] = movies['production_companies'].apply(lambda x:[i.replace(" ","")for i in x])

In [17]:
movies['tags'] = movies['overview'] + movies['production_companies'] + movies['genres'] + movies['release_date']

In [18]:
movies.head()

,id,title,release_date,overview,production_companies,genres,tags
0,27205,Inception,"[2010, 07, 15]","[Cobb,, a, skilled, thief, who, commits, corpo...","[LegendaryPictures, Syncopy, WarnerBros.Pictures]","[Action, ScienceFiction, Adventure]","[Cobb,, a, skilled, thief, who, commits, corpo..."
1,157336,Interstellar,"[2014, 11, 05]","[The, adventures, of, a, group, of, explorers,...","[LegendaryPictures, Syncopy, LyndaObstProducti...","[Adventure, Drama, ScienceFiction]","[The, adventures, of, a, group, of, explorers,..."
2,155,The Dark Knight,"[2008, 07, 16]","[Batman, raises, the, stakes, in, his, war, on...","[DCComics, LegendaryPictures, Syncopy, IsobelG...","[Drama, Action, Crime, Thriller]","[Batman, raises, the, stakes, in, his, war, on..."
3,19995,Avatar,"[2009, 12, 15]","[In, the, 22nd, century,, a, paraplegic, Marin...","[DuneEntertainment, LightstormEntertainment, 2...","[Action, Adventure, Fantasy, ScienceFiction]","[In, the, 22nd, century,, a, paraplegic, Marin..."
4,24428,The Avengers,"[2012, 04, 25]","[When, an, unexpected, enemy, emerges, and, th...",[MarvelStudios],"[ScienceFiction, Action, Adventure]","[When, an, unexpected, enemy, emerges, and, th..."

In [19]:
movies_f = movies[['id','title','tags']]

In [20]:
movies_f = movies_f.iloc[:10000,:]

In [21]:
movies_f.shape

(10000, 3)

In [22]:
from nltk.stem.porter import PorterStemmer

In [23]:
ps = PorterStemmer()

In [24]:
def stem(text):
    y = []
    for i in text:
        y.append(ps.stem(i))
    return " ".join(y)

In [25]:
movies_f['tags'] = movies_f['tags'].apply(stem)

In [26]:
movies_f['tags'][0]

'cobb, a skill thief who commit corpor espionag by infiltr the subconsci of hi target is offer a chanc to regain hi old life as payment for a task consid to be impossible: "inception", the implant of anoth person\' idea into a target\' subconscious. legendarypictur syncopi warnerbros.pictur action sciencefict adventur 2010 07 15'

In [27]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [28]:
vectors = cv.fit_transform(movies_f['tags']).toarray()

In [29]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [30]:
cv.get_feature_names_out()

array(['000', '01', '02', ..., 'zombies', 'zone', 'zoo'], dtype=object)

In [31]:
from sklearn.metrics.pairwise import cosine_similarity

In [32]:
similarity = cosine_similarity(vectors)

In [33]:
similarity[3]

array([0.14002801, 0.12247449, 0.02777778, ..., 0.04166667, 0.07216878,
       0.03042903])

In [34]:
def recommend(movie):
    movie_index = movies_f[movies_f['title'] == movie]['id'].index[0]
    distance = similarity[movie_index]
    movies_list = sorted(list(enumerate(distance)),reverse=True,key=lambda x:x[1])[1:6]

    for i in movies_list:
        l = path[path['id'] == i[0]]['poster_path'].values
        print(movies_f.iloc[i[0]].title,"".join(l))

In [35]:
movies_f[movies_f['title'] == 'Avatar']

      id   title                                               tags
3  19995  Avatar  in the 22nd century, a parapleg marin is dispa...

In [36]:
sorted(list(enumerate(similarity[3])),reverse=True,key=lambda x:x[1])[0:5]

[(3, 0.9999999999999998),
 (4147, 0.33678765702728175),
 (7309, 0.3273268353539886),
 (1737, 0.2727723627949905),
 (475, 0.2553769592276246)]

In [45]:
movies_f.iloc[3]

id                                                   19995
title                                               Avatar
tags     in the 22nd century, a parapleg marin is dispa...
Name: 3, dtype: object

In [38]:
recommend('The Avengers')

Iron Man 3 /mVWFN3RaBFLuJRtRLPebatX9qPq.jpg
Double Team /d9GV6b2ta3jWmDEZDby9AcL6io3.jpg
Avengers: Age of Ultron
Team America: World Police /cBJtWAgDTCqxNJJOZjnRSh5Vxa5.jpg
Guardians of the Galaxy Vol. 2

In [39]:
import pickle

In [ ]:
pickle.dump(movies_f,open('movies.pkl','wb'))

In [ ]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [40]:
path = path.iloc[:10000,:]

In [41]:
l = movies_f[movies_f['title'] == 'Avengers: Age of Ultron']['id'].index[0]

In [42]:
addres = path[path['id'] == l]['poster_path'].values

In [44]:
addres

array([], dtype=object)

In [ ]:
pickle.dump(path,open('path.pkl','wb'))

In [48]:
path.iloc[3]['poster_path']

'/kyeqWdyUXW608qlYkRqosgbbJyK.jpg'